Repository vinamra28/Hub-CI, pull requests merged in 2021-02, with the labels that each got.

#6 Add platform specific parameter
  api/pipeline.yaml
  api/pipelinerun.yaml
  ui/pipeline.yaml
  ui/pipelinerun.yaml
Labels: CI-API, CI-UI, size/S

#7 Adds migration job
  api/pipeline.yaml
  api/pipelinerun.yaml
Labels: CI-API, size/M

#8 Updated API pipeline image
  api-pipeline.png
Labels: size/XS
